@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-mini: 15px;
  --font-size-6xl: 25px;
  --font-size-11xl: 30px;
  --font-size-xs: 12px;
  --font-size-21xl: 40px;
  --font-size-41xl: 60px;
  --font-size-mid: 17px;

  /* Colors */
  --color-white: #fff;
  --color-crimson-100: #e34949;
  --color-black: #000;
  --color-gray-100: #fafafa;
  --color-gray-200: rgba(255, 255, 255, 0.2);
  --color-whitesmoke-100: #f5f3f3;
  --color-red-100: #ff2e2e;
  --color-red-200: #ff0101;
  --color-red-300: #ff0000;
  --color-green: #138b00;
  --color-darkgray-100: #a6a6a6;
  --color-dodgerblue: #4285f4;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-6xl: 25px;
  --br-6xs: 7px;
}
