.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAF9F9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap; /* Đảm bảo các items không wrap thành nhiều hàng */
}

.navItem {
    display: flex;
    flex-direction: column; /* Thay đổi từ row sang column */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.navItem img {
    width: 150px;
    height: 150px;
}

.navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
}

.navItem:hover {
    transform: scale(1.1);
}

.navItem:hover .navIcon {
    color: #f00;
}

.largeIcon {
    font-size: 36px;
}

.roundIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: 2px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navTitle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px; /* Thêm khoảng cách phía trên tiêu đề */
    text-align: center; /* Căn giữa tiêu đề */
}
