.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.navIcon {
    font-size: 24px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
}

.navItem:hover {
    transform: scale(1.1);
}

.navItem:hover .navIcon {
    color: #f00; /* Đổi màu khi hover */
}

.largeIcon {
    font-size: 32px; /* Kích thước lớn hơn */
}

.roundIcon {
    border-radius: 50%; /* Hình dạng hình tròn */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
}

.navTitle {
    font-size: 16px; /* Tiêu đề lớn hơn */
    margin-left: 10px; /* Khoảng cách với icon */
}

/* Thêm class cho icon cụ thể */
.navIcon.icon1 {
    color: #ff6347; /* Màu đỏ */
}

.navIcon.icon2 {
    color: #1e90ff; /* Màu xanh dương */
}

.navIcon.icon3 {
    color: #ff69b4; /* Màu hồng */
}