.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: auto;
    max-width: 90%;
}

.modalContent h2 {
    margin-top: 0;
}

.modalContent form {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}

.modalContent input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 20px;
}

.modalContent button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.modalContent button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.modalContent div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.modalContent div input {
    margin-right: 10px;
}

.error {
    color: red;
    font-size: 12px;
    margin: -8px 0 8px 0;
}

.message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.modalBackdrop h2 {
    color: black;
}

.modalBackdrop label {
    color: black;
    font-size: 12px;
    margin-top: 10px;
}

.link {
    background: none;
    border: none; 
    outline: none;
    color: #FF0101;
    cursor: pointer;
    padding: 0;
    font: inherit;
    display: inline;
}

.link:hover,
.link:focus {
    text-decoration: none;
}

.labelLinks {
    display: flex;
    gap: 5px; /* Khoảng cách giữa các thẻ p */
    align-items: center;
}

.login p {
    color: black;
    margin-top: 20px;
}