.trangChChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 600px;
  object-fit: cover;
}
.khmPhNhng,
.kingfood,
.kingfood1,
.ngK,
.ngNhp {
  position: absolute;
  top: 146px;
  left: 786px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.khmPhNhng,
.kingfood1,
.ngK,
.ngNhp {
  top: 25px;
  left: 76px;
  font-size: var(--font-size-11xl);
}
.khmPhNhng,
.ngK,
.ngNhp {
  top: 31px;
  left: 1439px;
  font-size: var(--font-size-xl);
}
.khmPhNhng,
.ngK {
  left: 1612px;
}
.khmPhNhng {
  top: 230px;
  left: 324px;
  font-size: var(--font-size-21xl);
}
.trangChItem {
  position: absolute;
  top: 314px;
  left: 603px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 713px;
  height: 60px;
}
.trangChInner {
  position: absolute;
  top: 322px;
  left: 918px;
  max-width: 100%;
  overflow: hidden;
  height: 45px;
}
.kingfood1Hng,
.tmKimNh {
  position: absolute;
  top: 337px;
  left: 654px;
  font-size: var(--font-size-xs);
}
.tmKimNh {
  left: 988px;
  font-weight: 500;
}
.rectangleDiv,
.rectangleIcon {
  position: absolute;
  top: 624px;
  left: 693px;
  width: 450px;
}
.rectangleDiv {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 300px;
}
.rectangleIcon {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  height: 200px;
  object-fit: cover;
}
.danhSch {
  position: absolute;
  top: 995px;
  left: 229px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.kingfood2 {
  color: var(--color-red-200);
}
.ccKhuVcContainer {
  position: absolute;
  top: 1470px;
  left: 229px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
}
.khmPhCc,
.ttCDanh {
  position: absolute;
  top: 1040px;
  font-size: var(--font-size-xl);
}
.khmPhCc {
  left: 229px;
  white-space: pre-wrap;
}
.ttCDanh {
  left: 1257px;
  color: var(--color-red-100);
}
.nUng,
.xemNhngA {
  position: absolute;
  left: 718px;
}
.nUng {
  top: 836px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.xemNhngA {
  top: 872px;
  font-weight: 500;
}
.trangChChild1,
.trangChChild2 {
  position: absolute;
  top: 624px;
  left: 1157px;
  width: 450px;
}
.trangChChild1 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 300px;
}
.trangChChild2 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  height: 200px;
  object-fit: cover;
}
.nightlifeAndClubs {
  position: absolute;
  top: 836px;
  left: 1182px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.khmPhNhng1 {
  position: absolute;
  top: 872px;
  left: 1182px;
  font-weight: 500;
}
.trangChChild3,
.trangChChild4 {
  position: absolute;
  top: 624px;
  left: 229px;
  width: 450px;
}
.trangChChild3 {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  height: 300px;
}
.trangChChild4 {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  height: 200px;
  object-fit: cover;
}
.nhVT,
.tHngTrc {
  position: absolute;
  left: 254px;
}
.tHngTrc {
  top: 836px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.nhVT {
  top: 872px;
  font-weight: 500;
}
.trangChChild5,
.trangChChild6,
.trangChChild7,
.trangChChild8 {
  position: absolute;
  top: 1101px;
  left: 229px;
  border-radius: var(--br-3xs);
  width: 330px;
  height: 300px;
  object-fit: cover;
}
.trangChChild6,
.trangChChild7,
.trangChChild8 {
  left: 578px;
}
.trangChChild7,
.trangChChild8 {
  left: 928px;
}
.trangChChild8 {
  left: 1277px;
}
.thThaoTrc {
  top: 1332px;
  left: 596px;
  font-size: var(--font-size-xl);
}
.aIm,
.aIm1,
.nhngBaTic,
.thThaoTrc {
  position: absolute;
  font-weight: 500;
  color: var(--color-white);
}
.aIm {
  top: 1363px;
  left: 596px;
}
.aIm1,
.nhngBaTic {
  left: 246px;
}
.nhngBaTic {
  top: 1332px;
  font-size: var(--font-size-xl);
}
.aIm1 {
  top: 1363px;
}
.miLTi {
  top: 1332px;
  left: 945px;
  font-size: var(--font-size-xl);
}
.aIm2,
.aIm3,
.miLTi,
.nhngAIm {
  position: absolute;
  font-weight: 500;
  color: var(--color-white);
}
.aIm2 {
  top: 1363px;
  left: 945px;
}
.aIm3,
.nhngAIm {
  left: 1295px;
}
.nhngAIm {
  top: 1331px;
  font-size: var(--font-size-xl);
}
.aIm3 {
  top: 1362px;
}
.trangChChild9 {
  position: absolute;
  top: 1546px;
  left: 338px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm4,
.connaughtPlace {
  position: absolute;
  left: 362px;
  font-weight: 500;
}
.connaughtPlace {
  top: 1553px;
  font-size: var(--font-size-6xl);
}
.aIm4 {
  top: 1586px;
}
.trangChChild10 {
  position: absolute;
  top: 1631px;
  left: 338px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm5,
.rajouriGarden {
  position: absolute;
  left: 362px;
  font-weight: 500;
}
.rajouriGarden {
  top: 1638px;
  font-size: var(--font-size-6xl);
}
.aIm5 {
  top: 1671px;
}
.trangChChild11 {
  position: absolute;
  top: 1716px;
  left: 338px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm6,
.golfCourseRoad {
  position: absolute;
  left: 362px;
  font-weight: 500;
}
.golfCourseRoad {
  top: 1723px;
  font-size: var(--font-size-6xl);
}
.aIm6 {
  top: 1756px;
}
.trangChChild12 {
  position: absolute;
  top: 1546px;
  left: 760px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm7,
.sector29 {
  position: absolute;
  left: 784px;
  font-weight: 500;
}
.sector29 {
  top: 1553px;
  font-size: var(--font-size-6xl);
}
.aIm7 {
  top: 1586px;
}
.trangChChild13 {
  position: absolute;
  top: 1631px;
  left: 760px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm8,
.saket {
  position: absolute;
  left: 784px;
  font-weight: 500;
}
.saket {
  top: 1638px;
  font-size: var(--font-size-6xl);
}
.aIm8 {
  top: 1671px;
}
.trangChChild14 {
  position: absolute;
  top: 1716px;
  left: 760px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm9,
.dlfPhase4 {
  position: absolute;
  left: 784px;
  font-weight: 500;
}
.dlfPhase4 {
  top: 1723px;
  font-size: var(--font-size-6xl);
}
.aIm9 {
  top: 1756px;
}
.trangChChild15 {
  position: absolute;
  top: 1546px;
  left: 1182px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm10,
.sector18Noida {
  position: absolute;
  left: 1206px;
  font-weight: 500;
}
.sector18Noida {
  top: 1553px;
  font-size: var(--font-size-6xl);
}
.aIm10 {
  top: 1586px;
}
.trangChChild16 {
  position: absolute;
  top: 1631px;
  left: 1182px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.aIm11,
.dlfCyberCity {
  position: absolute;
  left: 1206px;
  font-weight: 500;
}
.dlfCyberCity {
  top: 1638px;
  font-size: var(--font-size-6xl);
}
.aIm11 {
  top: 1671px;
}
.trangChChild17 {
  position: absolute;
  top: 1716px;
  left: 1182px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 3px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 400px;
  height: 70px;
}
.xemThm {
  position: absolute;
  top: 1735px;
  left: 1308px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  display: inline-block;
  width: 152px;
  height: 40px;
}
.trangChChild18 {
  position: absolute;
  top: 1886px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 492px;
}
.groupIcon,
.remixIconsfilllogosinstagr {
  position: absolute;
  top: 2067px;
  left: 1646px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon {
  height: 1.01%;
  width: 1.25%;
  top: 85.91%;
  right: 14.01%;
  bottom: 13.08%;
  left: 84.74%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon1,
.remixIconsfilllogosfaceboo {
  position: absolute;
  top: 2067px;
  left: 1606px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon1 {
  height: 1.01%;
  width: 1.25%;
  top: 85.91%;
  right: 16.09%;
  bottom: 13.08%;
  left: 82.66%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon2,
.remixIconsfilllogostwitter {
  position: absolute;
  top: 2067px;
  left: 1566px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon2 {
  height: 1.01%;
  width: 1.25%;
  top: 85.91%;
  right: 18.18%;
  bottom: 13.08%;
  left: 80.57%;
  max-width: 100%;
  max-height: 100%;
}
.remixIconsfilllogoslinkedi {
  position: absolute;
  top: 2066px;
  left: 1526px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon3,
.vectorIcon {
  position: absolute;
  max-height: 100%;
}
.groupIcon3 {
  height: 1.01%;
  width: 1.25%;
  top: 85.87%;
  right: 20.26%;
  bottom: 13.12%;
  left: 78.49%;
  max-width: 100%;
  overflow: hidden;
}
.vectorIcon {
  top: 2305px;
  left: 0;
  width: 1920px;
}
.kingfood2024,
.kingfood3 {
  position: absolute;
  top: 1940px;
  left: 58px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.kingfood2024 {
  top: 2329px;
  left: 84px;
  font-size: var(--font-size-xl);
  line-height: 140%;
}
.blog,
.chngTiL,
.giiThiuV {
  position: absolute;
  left: 288px;
}
.giiThiuV {
  top: 2010px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.blog,
.chngTiL {
  top: 2049px;
}
.blog {
  top: 2082px;
}
.hpTcVi,
.lmVicVi,
.ngDngDnh,
.nhUT {
  position: absolute;
  top: 2049px;
  left: 688px;
}
.lmVicVi,
.ngDngDnh,
.nhUT {
  top: 2082px;
}
.lmVicVi,
.nhUT {
  top: 2115px;
  left: 288px;
}
.nhUT {
  top: 2148px;
}
.bnWebsite,
.boMt,
.chnhSchBo,
.iuKhonV {
  position: absolute;
  top: 2049px;
  left: 1118px;
}
.bnWebsite,
.boMt,
.iuKhonV {
  top: 2082px;
}
.bnWebsite,
.iuKhonV {
  top: 2115px;
}
.bnWebsite {
  top: 2148px;
}
.bCngC,
.boCoVi,
.linH {
  position: absolute;
  top: 2181px;
  left: 288px;
}
.bCngC,
.linH {
  top: 2214px;
}
.linH {
  top: 2247px;
}
.dnhChoNh,
.linKtMng,
.tmHiuThm {
  position: absolute;
  top: 2010px;
  left: 688px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.linKtMng,
.tmHiuThm {
  left: 1118px;
}
.linKtMng {
  left: 1452px;
}
.groupIcon4,
.groupIcon5,
.hugeIcon {
  position: absolute;
  height: 1.35%;
  width: 1.67%;
  top: 13.79%;
  right: 66.09%;
  bottom: 84.86%;
  left: 32.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon4,
.groupIcon5 {
  height: 1.22%;
  width: 2.08%;
  top: 13.88%;
  right: 52.34%;
  bottom: 84.9%;
  left: 45.57%;
}
.groupIcon5 {
  height: 1.01%;
  width: 1.25%;
  top: 13.96%;
  right: 49.53%;
  bottom: 85.03%;
  left: 49.22%;
}
.groupIcon6,
.remixIconsfilllogosyoutube {
  position: absolute;
  top: 2067px;
  left: 1486px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.groupIcon6 {
  height: 1.01%;
  width: 1.25%;
  top: 85.91%;
  right: 22.34%;
  bottom: 13.08%;
  left: 76.41%;
  max-width: 100%;
  max-height: 100%;
}
.remixIconslinesystemarrow {
  position: absolute;
  top: 1040px;
  left: 1583px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.remixIconslinesystemarrow1,
.remixIconslinesystemarrow2 {
  position: absolute;
  top: 1567px;
  left: 682px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.remixIconslinesystemarrow2 {
  top: 1650px;
  opacity: 0;
}
.remixIconslinesystemarrow3,
.remixIconslinesystemarrow4,
.remixIconslinesystemarrow5 {
  position: absolute;
  top: 1650px;
  left: 1106px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  opacity: 0;
}
.remixIconslinesystemarrow4,
.remixIconslinesystemarrow5 {
  top: 1735px;
}
.remixIconslinesystemarrow5 {
  top: 1565px;
}
.remixIconslinesystemarrow6,
.remixIconslinesystemarrow7,
.remixIconslinesystemarrow8 {
  position: absolute;
  top: 1650px;
  left: 1524px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  opacity: 0;
}
.remixIconslinesystemarrow7,
.remixIconslinesystemarrow8 {
  top: 1565px;
}
.remixIconslinesystemarrow8 {
  top: 1735px;
  left: 682px;
}
.trangChChild19 {
  position: absolute;
  top: 30px;
  left: 1754px;
  border-radius: var(--br-8xs);
  background-color: var(--color-crimson-100);
  width: 110px;
  height: 32px;
}
.tMn {
  position: absolute;
  top: 34px;
  left: 1763px;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.trangCh {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2378px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
