.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.footerItem,
.remixIconsfilllogosinstagr {
  position: absolute;
  height: 4.88%;
  width: 1.25%;
  top: 36.79%;
  right: 13.02%;
  bottom: 58.33%;
  left: 85.73%;
  overflow: hidden;
}
.footerItem {
  top: 31.91%;
  right: 14.01%;
  bottom: 63.21%;
  left: 84.74%;
  max-width: 100%;
  max-height: 100%;
}
.remixIconsfilllogosfaceboo {
  top: 36.79%;
  right: 15.1%;
  bottom: 58.33%;
  left: 83.65%;
}
.groupIcon,
.groupIcon1,
.remixIconsfilllogosfaceboo,
.remixIconsfilllogostwitter {
  position: absolute;
  height: 4.88%;
  width: 1.25%;
  overflow: hidden;
}
.groupIcon {
  top: 31.91%;
  right: 16.09%;
  bottom: 63.21%;
  left: 82.66%;
  max-width: 100%;
  max-height: 100%;
}
.groupIcon1,
.remixIconsfilllogostwitter {
  top: 36.79%;
  right: 17.19%;
  bottom: 58.33%;
  left: 81.56%;
}
.groupIcon1 {
  top: 31.91%;
  right: 18.18%;
  bottom: 63.21%;
  left: 80.57%;
  max-width: 100%;
  max-height: 100%;
}
.footerInner,
.groupIcon2,
.remixIconsfilllogoslinkedi {
  position: absolute;
  height: 4.88%;
  width: 1.25%;
  top: 36.59%;
  right: 19.27%;
  bottom: 58.54%;
  left: 79.48%;
  overflow: hidden;
}
.footerInner,
.groupIcon2 {
  top: 31.71%;
  right: 20.26%;
  bottom: 63.41%;
  left: 78.49%;
  max-width: 100%;
  max-height: 100%;
}
.footerInner {
  height: 0.2%;
  width: 100%;
  top: 85.16%;
  right: 0;
  bottom: 14.63%;
  left: 0;
}
.kingfood,
.kingfood2024 {
  position: absolute;
  top: 10.98%;
  left: 3.02%;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.kingfood2024 {
  top: 90.04%;
  left: 4.38%;
  font-size: var(--font-size-xl);
  line-height: 140%;
}
.blog,
.chngTiL,
.giiThiuV {
  position: absolute;
  left: 15%;
}
.giiThiuV {
  top: 25.2%;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.blog,
.chngTiL {
  top: 33.13%;
}
.blog {
  top: 39.84%;
}
.hpTcVi,
.lmVicVi,
.ngDngDnh,
.nhUT {
  position: absolute;
  top: 33.13%;
  left: 35.83%;
}
.lmVicVi,
.ngDngDnh,
.nhUT {
  top: 39.84%;
}
.lmVicVi,
.nhUT {
  top: 46.54%;
  left: 15%;
}
.nhUT {
  top: 53.25%;
}
.bnWebsite,
.boMt,
.chnhSchBo,
.iuKhonV {
  position: absolute;
  top: 33.13%;
  left: 58.23%;
}
.bnWebsite,
.boMt,
.iuKhonV {
  top: 39.84%;
}
.bnWebsite,
.iuKhonV {
  top: 46.54%;
}
.bnWebsite {
  top: 53.25%;
}
.bCngC,
.boCoVi,
.linH {
  position: absolute;
  top: 59.96%;
  left: 15%;
}
.bCngC,
.linH {
  top: 66.67%;
}
.linH {
  top: 73.37%;
}
.dnhChoNh,
.linKtMng,
.tmHiuThm {
  position: absolute;
  top: 25.2%;
  left: 35.83%;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.linKtMng,
.tmHiuThm {
  left: 58.23%;
}
.linKtMng {
  left: 75.63%;
}
.groupIcon3,
.remixIconsfilllogosyoutube {
  position: absolute;
  height: 4.88%;
  width: 1.25%;
  top: 36.79%;
  right: 21.35%;
  bottom: 58.33%;
  left: 77.4%;
  overflow: hidden;
}
.groupIcon3 {
  top: 31.91%;
  right: 22.34%;
  bottom: 63.21%;
  left: 76.41%;
  max-width: 100%;
  max-height: 100%;
}
.footer {
  width: 1920px;
  max-width: 100%;
  height: 492px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
