.componentChild,
.groupIcon,
.groupIcon1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.componentChild {
  width: 100%;
  left: 0;
  border-radius: 50%;
  background-color: #b4b4b4;
}
.groupIcon,
.groupIcon1 {
  width: 31.5%;
  left: 68.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1 {
  height: 97.25%;
  width: 42.75%;
  top: 2.75%;
  right: 57.25%;
  left: 0;
}
.cutlery4 {
  position: absolute;
  height: 40%;
  width: 40%;
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
}
.ellipseParent {
  width: 100px;
  height: 100px;
}
