.menuAllChild {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 0;
  right: 73.65%;
  bottom: 77.61%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht {
  position: absolute;
  top: 19.45%;
  left: 21.21%;
}
.vnSet {
  top: 17.66%;
  left: 15.74%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.b,
.menuAllItem,
.vnSet {
  position: absolute;
}
.menuAllItem {
  height: 1.79%;
  width: 3.75%;
  top: 15.42%;
  right: 74.44%;
  bottom: 82.79%;
  left: 21.81%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b {
  top: 15.61%;
  left: 22.27%;
  color: var(--color-white);
}
.menuAllInner {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 15.67%;
  right: 74.64%;
  bottom: 83.05%;
  left: 24.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleDiv {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 0;
  right: 36.82%;
  bottom: 77.61%;
  left: 36.82%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht1,
.snSng,
.tmDng {
  position: absolute;
  top: 19.45%;
  left: 58.04%;
}
.snSng,
.tmDng {
  left: 37.62%;
  color: var(--color-green);
}
.tmDng {
  left: 0.79%;
  color: var(--color-red-200);
}
.menuAllChild1 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 0;
  right: 0;
  bottom: 77.61%;
  left: 73.65%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.rectangleIcon {
  position: absolute;
  right: 37.62%;
  left: 37.62%;
}
.menuAllChild2,
.menuAllChild3,
.rectangleIcon {
  height: 14.27%;
  width: 24.77%;
  top: 0.7%;
  bottom: 85.03%;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menuAllChild2 {
  position: absolute;
  right: 0.79%;
  left: 74.44%;
}
.menuAllChild3 {
  right: 74.44%;
}
.lu2Ngn,
.luBV,
.menuAllChild3 {
  position: absolute;
  left: 0.79%;
}
.luBV {
  top: 15.42%;
  font-size: var(--font-size-xl);
}
.lu2Ngn {
  top: 16.95%;
  color: var(--color-darkgray-100);
}
.lu2Ngn1 {
  top: 16.95%;
  left: 37.62%;
}
.lu2Ngn1,
.nNhanh,
.vnSet1 {
  position: absolute;
  color: var(--color-darkgray-100);
}
.vnSet1 {
  top: 17.66%;
  left: 52.57%;
  font-size: var(--font-size-mini);
}
.nNhanh {
  top: 16.95%;
  left: 74.44%;
}
.luCuaSng {
  position: absolute;
  top: 15.42%;
  left: 37.62%;
  font-size: var(--font-size-xl);
}
.burgerKing,
.menuAllChild4 {
  position: absolute;
  left: 74.44%;
}
.burgerKing {
  top: 15.42%;
  font-size: var(--font-size-xl);
}
.menuAllChild4 {
  height: 1.79%;
  width: 5.86%;
  top: 12.35%;
  right: 19.7%;
  bottom: 85.86%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off {
  position: absolute;
  top: 12.6%;
  left: 74.84%;
  color: var(--color-white);
}
.menuAllChild5 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 12.35%;
  right: 56.52%;
  bottom: 85.86%;
  left: 37.62%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off1 {
  position: absolute;
  top: 12.6%;
  left: 38.01%;
  color: var(--color-white);
}
.menuAllChild6 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 15.42%;
  right: 37.62%;
  bottom: 82.79%;
  left: 58.63%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b1 {
  position: absolute;
  top: 15.61%;
  left: 59.09%;
  color: var(--color-white);
}
.menuAllChild7 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 12.35%;
  right: 93.35%;
  bottom: 85.86%;
  left: 0.79%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off2 {
  position: absolute;
  top: 12.6%;
  left: 1.19%;
  color: var(--color-white);
}
.remixIconsfillsystemstarS {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 15.74%;
  right: 37.88%;
  bottom: 82.98%;
  left: 60.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild8 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 15.67%;
  right: 0.79%;
  bottom: 82.53%;
  left: 95.45%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b2,
.vnSet2 {
  position: absolute;
  top: 15.87%;
  left: 95.92%;
  color: var(--color-white);
}
.vnSet2 {
  top: 17.91%;
  left: 90.78%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.pht2,
.snSng1,
.vnCi {
  position: absolute;
  top: 19.77%;
  left: 94.93%;
}
.snSng1,
.vnCi {
  top: 19.45%;
  left: 74.44%;
  color: var(--color-green);
}
.vnCi {
  top: 17.91%;
  left: 90.84%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.remixIconsfillsystemstarS2 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 15.99%;
  right: 0.99%;
  bottom: 82.73%;
  left: 97.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild21 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 25.98%;
  right: 73.65%;
  bottom: 51.63%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht6,
.vnSet5 {
  position: absolute;
  top: 45.43%;
  left: 21.21%;
}
.vnSet5 {
  top: 43.63%;
  left: 15.74%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.menuAllChild22 {
  height: 1.79%;
  width: 3.75%;
  top: 41.39%;
  right: 74.44%;
  bottom: 56.81%;
  left: 21.81%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b6,
.groupIcon1,
.menuAllChild22 {
  position: absolute;
}
.b6 {
  top: 41.59%;
  left: 22.27%;
  color: var(--color-white);
}
.groupIcon1 {
  height: 1.28%;
  width: 1.32%;
  top: 41.65%;
  right: 74.64%;
  bottom: 57.07%;
  left: 24.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild23 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 25.98%;
  right: 36.82%;
  bottom: 51.63%;
  left: 36.82%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht7,
.snSng4,
.tmDng2 {
  position: absolute;
  top: 45.43%;
  left: 58.04%;
}
.snSng4,
.tmDng2 {
  left: 37.62%;
  color: var(--color-green);
}
.tmDng2 {
  left: 0.79%;
  color: var(--color-red-200);
}
.menuAllChild24 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 25.98%;
  right: 0;
  bottom: 51.63%;
  left: 73.65%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.menuAllChild25,
.menuAllChild26,
.menuAllChild27 {
  position: absolute;
  height: 14.27%;
  width: 24.77%;
  top: 26.68%;
  right: 37.62%;
  bottom: 59.05%;
  left: 37.62%;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menuAllChild26,
.menuAllChild27 {
  right: 0.79%;
  left: 74.44%;
}
.menuAllChild27 {
  right: 74.44%;
  left: 0.79%;
}
.vnSet6 {
  position: absolute;
  top: 43.63%;
  left: 52.57%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.luCuaSng2 {
  position: absolute;
  top: 41.39%;
  left: 37.62%;
  font-size: var(--font-size-xl);
}
.menuAllChild28 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 38.32%;
  right: 19.7%;
  bottom: 59.88%;
  left: 74.44%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off6 {
  position: absolute;
  top: 38.58%;
  left: 74.84%;
  color: var(--color-white);
}
.menuAllChild29 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 38.32%;
  right: 56.52%;
  bottom: 59.88%;
  left: 37.62%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off7 {
  position: absolute;
  top: 38.58%;
  left: 38.01%;
  color: var(--color-white);
}
.menuAllChild30 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 41.39%;
  right: 37.62%;
  bottom: 56.81%;
  left: 58.63%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b7 {
  position: absolute;
  top: 41.59%;
  left: 59.09%;
  color: var(--color-white);
}
.menuAllChild31 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 38.32%;
  right: 93.35%;
  bottom: 59.88%;
  left: 0.79%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off8 {
  position: absolute;
  top: 38.58%;
  left: 1.19%;
  color: var(--color-white);
}
.remixIconsfillsystemstarS3 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 41.71%;
  right: 37.88%;
  bottom: 57.01%;
  left: 60.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild32 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 41.65%;
  right: 0.79%;
  bottom: 56.56%;
  left: 95.45%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b8 {
  top: 41.84%;
  left: 95.92%;
  color: var(--color-white);
}
.b8,
.pht8,
.vnSet7 {
  position: absolute;
}
.vnSet7 {
  top: 43.89%;
  left: 90.78%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.pht8 {
  top: 45.75%;
  left: 94.93%;
}
.pht9,
.snSng5,
.vnSet8 {
  position: absolute;
  top: 45.43%;
}
.snSng5 {
  left: 74.44%;
  color: var(--color-green);
}
.pht9,
.vnSet8 {
  left: 21.74%;
}
.vnSet8 {
  top: 43.63%;
  left: 15.61%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.domPerignonVintage {
  position: absolute;
  top: 41.39%;
  left: 0.79%;
  font-size: var(--font-size-xl);
}
.combo,
.nhngLu,
.ung {
  position: absolute;
  top: 42.93%;
  left: 0.79%;
  color: var(--color-darkgray-100);
}
.combo,
.nhngLu {
  left: 37.62%;
}
.nhngLu {
  left: 74.44%;
}
.combo6Ngi,
.nhnLuB,
.vnSet10 {
  position: absolute;
  top: 41.39%;
  font-size: var(--font-size-xl);
}
.combo6Ngi {
  width: 10.61%;
  left: 37.62%;
  display: inline-block;
}
.nhnLuB,
.vnSet10 {
  left: 74.44%;
}
.vnSet10 {
  top: 43.89%;
  left: 90.12%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.remixIconsfillsystemstarS5 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 41.97%;
  right: 0.99%;
  bottom: 56.75%;
  left: 97.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild45 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 51.63%;
  right: 73.65%;
  bottom: 25.98%;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht12,
.vnSet11 {
  position: absolute;
  top: 71.08%;
  left: 21.21%;
}
.vnSet11 {
  top: 69.29%;
  left: 15.74%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.menuAllChild46 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 67.05%;
  right: 74.44%;
  bottom: 31.16%;
  left: 21.81%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b12 {
  position: absolute;
  top: 67.24%;
  left: 22.27%;
  color: var(--color-white);
}
.groupIcon3 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 67.31%;
  right: 74.64%;
  bottom: 31.41%;
  left: 24.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild47 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 51.63%;
  right: 36.82%;
  bottom: 25.98%;
  left: 36.82%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht13,
.snSng8,
.tmDng4 {
  position: absolute;
  top: 71.08%;
  left: 58.04%;
}
.snSng8,
.tmDng4 {
  left: 37.62%;
  color: var(--color-green);
}
.tmDng4 {
  left: 0.79%;
  color: var(--color-red-200);
}
.menuAllChild48 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 51.63%;
  right: 0;
  bottom: 25.98%;
  left: 73.65%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.menuAllChild49,
.menuAllChild50,
.menuAllChild51 {
  position: absolute;
  height: 14.27%;
  width: 24.77%;
  top: 52.34%;
  right: 37.62%;
  bottom: 33.4%;
  left: 37.62%;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menuAllChild50,
.menuAllChild51 {
  right: 0.79%;
  left: 74.44%;
}
.menuAllChild51 {
  right: 74.44%;
  left: 0.79%;
}
.lu2Ngn6,
.lu2Ngn7,
.vnSet12 {
  position: absolute;
  top: 68.59%;
  left: 0.79%;
  color: var(--color-darkgray-100);
}
.lu2Ngn7,
.vnSet12 {
  left: 37.62%;
}
.vnSet12 {
  top: 69.29%;
  left: 52.57%;
  font-size: var(--font-size-mini);
}
.burgerKing3,
.nNhanh3 {
  position: absolute;
  left: 74.44%;
}
.nNhanh3 {
  top: 68.59%;
  color: var(--color-darkgray-100);
}
.burgerKing3 {
  top: 67.05%;
  font-size: var(--font-size-xl);
}
.menuAllChild52 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 63.98%;
  right: 19.7%;
  bottom: 34.23%;
  left: 74.44%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off12 {
  position: absolute;
  top: 64.24%;
  left: 74.84%;
  color: var(--color-white);
}
.menuAllChild53 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 63.98%;
  right: 56.52%;
  bottom: 34.23%;
  left: 37.62%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off13 {
  position: absolute;
  top: 64.24%;
  left: 38.01%;
  color: var(--color-white);
}
.menuAllChild54 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 67.05%;
  right: 37.62%;
  bottom: 31.16%;
  left: 58.63%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b13 {
  position: absolute;
  top: 67.24%;
  left: 59.09%;
  color: var(--color-white);
}
.menuAllChild55 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 63.98%;
  right: 93.35%;
  bottom: 34.23%;
  left: 0.79%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off14 {
  position: absolute;
  top: 64.24%;
  left: 1.19%;
  color: var(--color-white);
}
.remixIconsfillsystemstarS6 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 67.37%;
  right: 37.88%;
  bottom: 31.35%;
  left: 60.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild56 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 67.31%;
  right: 0.79%;
  bottom: 30.9%;
  left: 95.45%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b14,
.vnSet13 {
  position: absolute;
  top: 67.5%;
  left: 95.92%;
  color: var(--color-white);
}
.vnSet13 {
  top: 69.55%;
  left: 90.78%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.pht14,
.snSng9 {
  position: absolute;
  top: 71.4%;
  left: 94.93%;
}
.snSng9 {
  top: 71.08%;
  left: 74.44%;
  color: var(--color-green);
}
.combo7Ngi,
.thtBGiang {
  top: 67.05%;
  font-size: var(--font-size-xl);
}
.thtBGiang {
  position: absolute;
  left: 0.79%;
}
.combo7Ngi {
  left: 37.62%;
}
.combo7Ngi,
.pht17,
.vnSet16 {
  position: absolute;
}
.vnSet16 {
  top: 69.55%;
  left: 89.2%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.pht17 {
  top: 71.4%;
  left: 95.39%;
}
.remixIconsfillsystemstarS8 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 67.63%;
  right: 0.99%;
  bottom: 31.09%;
  left: 97.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild69 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 77.61%;
  right: 73.65%;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht18,
.vnSet17 {
  position: absolute;
  top: 97.06%;
  left: 21.21%;
}
.vnSet17 {
  top: 95.27%;
  left: 15.74%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.menuAllChild70 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 93.03%;
  right: 74.44%;
  bottom: 5.18%;
  left: 21.81%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b18 {
  position: absolute;
  top: 93.22%;
  left: 22.27%;
  color: var(--color-white);
}
.groupIcon5 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 93.28%;
  right: 74.64%;
  bottom: 5.44%;
  left: 24.04%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild71 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 77.61%;
  right: 36.82%;
  bottom: 0;
  left: 36.82%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.pht19,
.snSng12,
.tmDng6 {
  position: absolute;
  top: 97.06%;
  left: 58.04%;
}
.snSng12,
.tmDng6 {
  left: 37.62%;
  color: var(--color-green);
}
.tmDng6 {
  left: 0.79%;
  color: var(--color-red-200);
}
.menuAllChild72 {
  position: absolute;
  height: 22.39%;
  width: 26.35%;
  top: 77.61%;
  right: 0;
  bottom: 0;
  left: 73.65%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
}
.menuAllChild73,
.menuAllChild74,
.menuAllChild75 {
  position: absolute;
  height: 14.27%;
  width: 24.77%;
  top: 78.31%;
  right: 37.62%;
  bottom: 7.42%;
  left: 37.62%;
  border-radius: var(--br-6xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.menuAllChild74,
.menuAllChild75 {
  right: 0.79%;
  left: 74.44%;
}
.menuAllChild75 {
  right: 74.44%;
  left: 0.79%;
}
.lu2Ngn8,
.lu2Ngn9,
.vnSet18 {
  position: absolute;
  top: 94.56%;
  left: 0.79%;
  color: var(--color-darkgray-100);
}
.lu2Ngn9,
.vnSet18 {
  left: 37.62%;
}
.vnSet18 {
  top: 95.27%;
  left: 52.57%;
  font-size: var(--font-size-mini);
}
.luCuaSng4 {
  position: absolute;
  top: 93.03%;
  left: 37.62%;
  font-size: var(--font-size-xl);
}
.menuAllChild76 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 89.96%;
  right: 19.7%;
  bottom: 8.25%;
  left: 74.44%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off18 {
  position: absolute;
  top: 90.21%;
  left: 74.84%;
  color: var(--color-white);
}
.menuAllChild77 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 89.96%;
  right: 56.52%;
  bottom: 8.25%;
  left: 37.62%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off19 {
  position: absolute;
  top: 90.21%;
  left: 38.01%;
  color: var(--color-white);
}
.menuAllChild78 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 93.03%;
  right: 37.62%;
  bottom: 5.18%;
  left: 58.63%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b19 {
  position: absolute;
  top: 93.22%;
  left: 59.09%;
  color: var(--color-white);
}
.menuAllChild79 {
  position: absolute;
  height: 1.79%;
  width: 5.86%;
  top: 89.96%;
  right: 93.35%;
  bottom: 8.25%;
  left: 0.79%;
  border-radius: var(--br-8xs);
  background-color: var(--color-dodgerblue);
}
.off20 {
  position: absolute;
  top: 90.21%;
  left: 1.19%;
  color: var(--color-white);
}
.remixIconsfillsystemstarS9 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 93.35%;
  right: 37.88%;
  bottom: 5.37%;
  left: 60.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAllChild80 {
  position: absolute;
  height: 1.79%;
  width: 3.75%;
  top: 93.28%;
  right: 0.79%;
  bottom: 4.93%;
  left: 95.45%;
  border-radius: var(--br-8xs);
  background-color: var(--color-red-300);
}
.b20 {
  top: 93.47%;
  left: 95.92%;
  color: var(--color-white);
}
.b20,
.pht20,
.vnSet19 {
  position: absolute;
}
.vnSet19 {
  top: 95.52%;
  left: 90.78%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.pht20 {
  top: 97.38%;
  left: 94.93%;
}
.snSng13,
.vnSet20 {
  position: absolute;
  top: 97.06%;
  left: 74.44%;
  color: var(--color-green);
}
.vnSet20 {
  top: 95.27%;
  left: 15.42%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.cristalChampagneBrut {
  position: absolute;
  top: 93.03%;
  left: 0.79%;
  font-size: var(--font-size-xl);
}
.bnhTrngCun {
  position: absolute;
  top: 94.56%;
  left: 74.44%;
  color: var(--color-darkgray-100);
}
.mnCunTm,
.vnSet22 {
  position: absolute;
  top: 93.03%;
  left: 74.44%;
  font-size: var(--font-size-xl);
}
.vnSet22 {
  top: 95.52%;
  left: 90.05%;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray-100);
}
.remixIconsfillsystemstarS11 {
  position: absolute;
  height: 1.28%;
  width: 1.32%;
  top: 93.6%;
  right: 0.99%;
  bottom: 5.12%;
  left: 97.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.menuAll {
  width: 1518px;
  max-width: 100%;
  height: 1563px;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
